<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="images/star.png" type="image/x-icon">
        <title>Experiments by Pano</title>
        <% if(htmlWebpackPlugin.options.thisEnvironmentType) { %>
        <script type="text/javascript">
            window.thisEnvironmentType =
                "<%=htmlWebpackPlugin.options.environmentType%>";
        </script>
        <% } %>
    </head>
    <body>
        <div id="app" class="container"></div>
        <!-- html-webpack-plugin adds the bundle here dynamically -->
    </body>
</html>
