$background-color: #0011AA;
$text-color: #AAAAAA;

body {
    font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif, "Helvetica Neue";
    background-color: $background-color;
    color: $text-color;
}
